<div id="body" style="min-width: 300px;"> 
    <div class="header" style="min-width: 300px;">
        <div style="min-width: 300px;">
            <h1>About</h1>
        </div>
    </div>
    <div class="body" style="min-width: 300px;">
        <img src="../../assets/images/bg-header-about.jpg">
    </div>
    <div class="footer" style="min-width: 300px; flex-wrap: wrap;">
        <div class="sidebar" style="min-width: 300px;">
            <h1>Be Part of Our Community</h1>
            <p>If you’re experiencing issues or having concerns about this website template, join the discussion on our forum and meet other people in the community who share the same interests.</p>
        </div>
        <div class="article" style="min-width: 300px; flex-wrap: wrap;"> 
            <h1 style="min-width: 300px; flex-wrap: wrap;">We Have Delecious icecreams For Everyone</h1>
            <p style="min-width: 300px; flex-wrap: wrap;">Our Factory are created with inspiration, checked for quality and originality. What’s more, they’re absolutely free! You can do a lot with them. You can add Something else.</p>
        </div>
    </div>
</div>