<div id="body" class="home">
  <div class="header" style="min-width: 300px;">
      <img src="../../../assets/images/bg-home.jpg">
      <div>
          <a>Freeze Delight</a>
      </div>
  </div>
  <div class="body" style="min-width: 300px;">
      <div>
          <div>
              <h1>NEW PRODUCT</h1>
              <h2>The Twist of Healthy Yogurt</h2>
          </div>
          <img src="../../../assets/images/yogurt.jpg">
      </div>
  </div>
<div class="footer" style="min-width: 300px;">
      <div>
          <ul style="margin-left: 200px; min-width: 300px;">
              <li>
                  <a class="product"></a>
                  <h1 style="cursor: pointer;">PRODUCTS</h1>
              </li>
              <li>
                  <a class="about"></a>
                  <h1 style="cursor: pointer;">OUR STORY</h1>
              </li>
          </ul>
      </div>
  </div>
</div>
