<div id="header">
  <div>
    <a class="logo"><img src="../assets/images/logo.png"></a>
    <ul id="navigation" >
      <li style="margin-left: 10px;">
        <a routerLink="/" style="cursor: pointer;">Home</a>
      </li>
      <li class="menu">
        <a routerLink="/Products" style="cursor: pointer;">Products</a>
      </li>
      <li>
        <a routerLink="/About" style="cursor: pointer;">About</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
